# https://hindsight.vectorize.io/developer/configuration#llm-provider
HINDSIGHT_LLM_PROVIDER=minimax
HINDSIGHT_LLM_MODEL=MiniMax-M2.7
HINDSIGHT_LLM_KEY=

# https://github.com/jo-inc/camofox-browser#environment-variables
CAMOFOX_ENABLE_VNC=1
CAMOFOX_VNC_PASSWORD=
